body{
    font-family: 'Merriweather', serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.Jolo-Purple{
    color: rgb(240, 74, 240);
}
section{
    display: flex;
 margin-bottom: 10%;
}
.fulo{
   width: 60%;
   padding-left: 3%;
   padding-right: 5%;
  
}
.fulo img{
    width: 70%;
    float: right;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange , tomato);
    font-weight: 750;
    padding: 10px;
    color: white;
    border-radius: 5px;
}
.top{
    background-image: url(  images/top-banner.png);
background-repeat: no-repeat;
}
.half-half{
    width: 50%;
    padding: 4%;
    margin: 3%;
}
.half-half img{
    width: 75%;
    float: left;
}
.Du{
    color: tomato;
}
.topper{
background-image: url(images/dream-bg.png);
background-repeat: no-repeat;
background-position: right;
}
.experi{
max-width: 100%;
padding-left: 6%;
padding-right: 6%;
margin: 1%;
display: flex;

}
    

#fuf{
    margin-left: 50px;
    color: rgb(175, 52, 30);
    
}
.yuyu{
    color: maroon;
}
.zuzu{
    color: blue;
}
.try{
margin-left:5%;
margin-right: 5%;
 padding-left: 20px;
    box-shadow: 10px 10px 40px 20px gray;
}
.zulo{
    background-image: url( images/exp-bg.png  );
    background-repeat: no-repeat;
    background-position: right;
  border-image: linear-gradient(blue, cyan);
border-image-slice: 1;
border-left: 10px groove;
}
.sulo{
    background-image: url( images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    border-left: 10px groove;
}
footer  p {
    text-align: center;
    color: rgb(120, 192, 60);
    margin-top: 20px;
}